* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    position: relative;
}

main {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.layer {
    mix-blend-mode: luminosity;
    position: relative;
    background-color: #000000;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    font-size: 5vw;
    display: grid;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 80px);
}

.layer > div {
    min-width: 160px;
    width: 100%;
    margin-top: 25px;
}

.frame {
    position: relative;
    z-index: 2;
    background-color: #ff0000;
    height: 50px;
    width: 100%;
    mix-blend-mode: exclusion;
    min-width: 160px;
}

@media (max-width: 768px) {
    .layer {
        font-size: 8vw;
    }
}

@media (max-width: 480px) {
    .layer {
        font-size: 10vw;
    }
}

.healthy {
    grid-column: 5/6;
}

.firstFrame {
    grid-column: 3/6;
}

.secondText {
    grid-column: 4/6;
}

.thirdFrame {
    grid-column: 4 / 6;
}

.fifthText {
    grid-column: 1 / 1;
}

.fourthFrame {
    grid-column: 2 / 6;
}

.secondFrame {
    grid-column: 2 / 5;
}

.firstText {
    grid-column: 1 / 2;
}

.here {
    grid-column: 2 / 3;
}

.living {
    grid-column: 5 / 5;
}

.effortless {
    grid-column: 6 / 6;
}

.so {
    grid-column: 1 / 1;
}

.you {
    grid-column: 2 / 2;
}
.can {
    grid-column: 3 /3;
}

.and {
    grid-column: 1 /1;
}
.fourthFrame {
    grid-column: 3 /8;
}
